/* 
Contains basic styles for the scoreboard page 
Implemented by Aidan Roessler from team Vaas
*/

.table-container{
  padding: 30px;
  font-size: medium;
}

table {
  width: 100%;
  color: #e8e8e8;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #333333;
}

tr:nth-child(even) {
  background-color: #2c2c2c;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(54, 27, 50);
  color: white;
  font-size: larger;
}
