<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <title>Mastermind - {% block title %}{% endblock title %}</title>
    <body>

      <h1>{% block header1 %}{% endblock header1 %}</h1>

      {% block content %}{% endblock content %}

      <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('howtoplay') }}">How to Play Mastermind</a>
        <a href="{{ url_for('scoreboard') }}">Scoreboard</a>
        <a href="{{ url_for('lookup') }}">View Previous Game</a>
        <a href="{{ url_for('pregame') }}">Play</a>
      </nav>

    </body>
</head>
</html>